{% load humanize %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-4">
			<label><b>META PRODUCTO</b></label><br>
			{{ indicador.armonizacion.meta }}
		</div>
		<div class="col-md-2">
			<label><b>Unidad</b></label><br>
			{{ indicador.medicion.unidad_medicion|default_if_none:"No asignada" }}
		</div>
		<div class="col-md-2">
			<label><b>Linea Base</b></label><br>
			<input type="number" name="linea_base" id="linea_base" class="form-control" value="{{fuente_financiacion.linea_base}}">
		</div>
		<div class="col-md-2">
			<label><b>Meta Periodo</b></label><br>
			<input type="number" name="meta_periodo" id="meta_periodo" class="form-control" value="{{fuente_financiacion.meta_periodo}}">
		</div>
		<div class="col-md-2">
			<label><b>Meta Final</b></label><br>
			<input type="number" name="meta_final" id="meta_final" class="form-control" disabled="">
		</div>
	</div>
	<br>
	<div class="row">
		<table id="table_resumen" class="table thead-dark table-bordered table-hover table-sm">
			<legend align="center">FUENTES DE FINANCIACIÓN (POAI) - PESOS CORRIENTES (COP) </legend>
			<thead>
				<tr>
					<th>FUENTE</th>
					<th>2017</th>
					<th>2018</th>
					<th>OPCIONES</th>
				</tr>
			</thead>
			<tbody>
				{% if fuente_financiacion %}
					{% regroup fuente_financiacion.item_fuente_financiacion.all by fuente.nombre_fuente as fuente_list %}
					{% for fuente in fuente_list %}
					<tr>
						<td value="{{ fuente.list.0.fuente.pk }}">{{ fuente.grouper }}</td>
						{% for ff in fuente.list %}
							<td value="{{ ff.valor }}" anio="{{ ff.anio }}">{{ ff.valor|intcomma }} - {{ ff.anio }}</td>
						{% endfor %}
						<td>Eliminar</td>
					</tr>
					{% endfor %}
				{% endif %} 
			</tbody>
			<tfoot>
				<tr>
					<td>
						<!--<input type="text" name="fuente" id="fuente" class="form-control" placeholder="nombre de fuente">-->
						<select name="sisfuentesfinanciacion" id="sisfuentesfinanciacion" class="form-control">
							{% for fuente_f in sisfuentesfinanciacion %}
								<option value="{{fuente_f.codigo_fuente}}">{{fuente_f.nombre_fuente}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="number" class="valor_fuente form-control" anio="2017" class="form-control" placeholder="Valor">
					</td>
					<td>
						<input type="number" class="valor_fuente form-control" anio="2018" class="form-control" placeholder="Valor">
					</td>
					<td>
						<button class="btn btn-success form-control" id="boton_agregar_fuente">Agregar</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="form-group">
		<button id="boton_guardar_fuente_financiacion" class="btn btn-success float-right"><i class="fa fa-save"></i> Guardar Fuente Financiación</button>
	</div>

	<br>
	<hr><!-- .......................................................ESPACIO ............................................. -->
	<div class="row">
		<div class="col-md-4">
			<label><b>Periodo</b></label>
			<select name="periodo" id="periodo" class="form-control">
				{% for x in periodos %}
					<option value="{{x.0}}" {% if x.0 == 8 %}selected{% endif %}>{{x.1}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-8">
			<label><b>Información</b></label><br>
			<span>Si selecciona otra opción de periodo, eliminara los valores ingresados en las celdas.</span>
		</div>
	</div>
	
	<br>
	<div class="row" style="width: 1100px;  overflow: scroll;">
		<div id="" class="col-md-12">
			<legend align="center">SISTEMA INTEGRADO DE GESTIÓN</legend>
			<table id="tabla_gestion_integrado" class="table thead-dark table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th>Año</th>
					</tr>
				</thead>
				<tbody>
					<tr id="2017">
						<td>2017</td>
					</tr>
					<tr id="2018">
						<td>2018</td>
					</tr>
				</tbody>
				<tfoot>
					
				</tfoot>
			</table>
		</div>
	</div>
	<br>
	<div class="form-group">
		<button id="boton_guardar_SIG" class="btn btn-success float-right"><i class="fa fa-save"></i> Guardar SIG</button>
	</div>

</div>

<script>
	var items_sig = [];
	{% for sistema in sistema_integrado_gestion.itemSIG.all %}
		items_sig.push({
			'anio':'{{sistema.anio}}',
			'periodo_numero':'{{sistema.periodo_numero}}',
			'valor_inicial':'{{sistema.valor_inicial}}',
			'valor_esperado':'{{sistema.valor_esperado}}'
		})
	{% endfor %}

	$(document).ready(function(){
		$("#meta_final").val(sumaMetas());
		$("#periodo").change();
	});

	$(document).on("change", '#linea_base', function(){
		$("#meta_final").val(sumaMetas());
	});
	$(document).on("change", '#meta_periodo', function(){
		$("#meta_final").val(sumaMetas());
	});

	function sumaMetas(){
		return parseInt($("#linea_base").val() || 0)+parseInt($("#meta_periodo").val() || 0);
	}

	$(document).on("change", "#periodo", function(){
		$('.new_cell').detach();

		var select_periodo = $("#periodo option:selected").val();
		var periodos = 0;
		if(select_periodo == 4){//Mensual
			periodos = 12;
		}else if(select_periodo == 5){//Bimensual
			periodos = 24;
		}else if(select_periodo == 6){//Trimestral
			periodos = 36;
		}else if(select_periodo == 7){//Cuatrimestral
			periodos = 48;
		}else if(select_periodo == 8){//Semestral
			periodos = 2;
		}else if(select_periodo == 9){//Anual
			periodos = 1;
		}
		
		var count = 1;
        for (var i = 0; i < periodos; i++) {
        	$('#tabla_gestion_integrado thead').find('tr').each(function(){
        		var add = '<th class="new_cell">Perido <b>'+count+'</b></th>'+'<th class="new_cell">Perido <b>'+count+'</b></th>';
        		$(this).append(add);
			});

        	$('#tabla_gestion_integrado tbody').find('tr').each(function(){
        		var id_fila=$(this).attr("id");
        		var id_input_1 = count+"_"+id_fila+"_i";
        		var id_input_2 = count+"_"+id_fila+"_e";

        		var datos = null;
	        	for (var j = 0; j < items_sig.length; j++) {
					// alert("Entro item: "+items_sig[j].periodo_numero);
					if(count == items_sig[j].periodo_numero && id_fila == items_sig[j].anio){
						datos = items_sig[j];
					}
				}
				var v_inicial = 0;
				var v_esperado = 0;
				if(datos != null){
					v_inicial = datos.valor_inicial;
					v_esperado = datos.valor_esperado;
				}
        		var c1 = '<input type="number" class="valor_inicial" id="'+id_input_1+'" placeholder="Valor inicial" style="width: 100px;" value='+v_inicial+' >';
        		var c2 = '<input type="number" class="valor_esperado"  id="'+id_input_2+'" placeholder="Valor esperado" style="width: 100px;" value='+v_esperado+' >';
        		var add = '<td class="new_cell">'+c1+'</td>'+'<td class="new_cell">'+c2+'</td>';
        		$(this).append(add);
			});
			count++;
        }
		
	});

	$(document).on("click", "#boton_agregar_fuente", function(){
		var id_fuente = parseInt($("#sisfuentesfinanciacion option:selected").val() || 0);
		var tiene_valor = false;
		var valores_anios = [];
		$('.valor_fuente').each(function(){
			var val_fuente = parseInt($(this).val() || 0);
			valores_anios.push({
				"valor":val_fuente,
				"anio":$(this).attr("anio")
			});
			if (val_fuente > 0)
				tiene_valor = true;
		});

		if(id_fuente > 0 && tiene_valor == true){
			var fila = "";
			fila += "<tr>";
			fila += "<td value="+id_fuente+">"+$("#sisfuentesfinanciacion option:selected").text()+"</td>";
			for (var i = 0; i < valores_anios.length; i++) {
				fila += "<td value="+valores_anios[i].valor+" anio="+valores_anios[i].anio+">"+numberWhitCommas(valores_anios[i].valor)+"</td>";
			}
			fila += "<td>Eliminar</td>";
			fila += "</tr>";
			$("#table_resumen tbody").append(fila);
			seteaDatosTablaResumen();
		}else{
			if(id_fuente<=0){
				alert("Digite un nombre de fuente");
			}else if(tiene_valor == false){
				alert("Digite un valor a la fuente");
			}
		}
	});

	function seteaDatosTablaResumen(){
		$("#fuente").val("");
		$('.valor_fuente').each(function(){
			$(this).val("");
		});
	}

	$(document).on('click', '#boton_guardar_fuente_financiacion', guardarFuenteFinanciacion);
	$(document).on('click', '#boton_guardar_SIG', guardarSIG);

	function guardarFuenteFinanciacion(){
		var fuentes = [];
		$("#table_resumen > tbody  > tr").each(function() {
			var value=$(this).find('td:eq(0)').attr("value");
			$(this).find('td:not(:first):not(:last)').each (function() {
				var dic = {
					"id_fuente":value,
					"valor_fuete":$(this).attr("value"),
					"anio":$(this).attr("anio")
				}
				fuentes.push(JSON.stringify(dic));
			});
		});

		var linea_base = parseInt($("#linea_base").val() || 0);
		var meta_periodo = parseInt($("#meta_periodo").val() || 0);

		if(linea_base > 0 && meta_periodo){
			$.ajax({
		        type: "POST",
		        url: "/tablero-Mando/programacion/?agregar_ff",
		        data: {
		        	"csrfmiddlewaretoken": getCookie('csrftoken'),
					"indicador":"{{indicador.pk}}",
		        	"linea_base": linea_base,
					"meta_periodo": meta_periodo,
		        	"fuentes[]": fuentes,
		       	},
		        error: function(respuesta){
		            console.log("Hubo un problema, guardando la fuente_financiacion.");
		        },
		        success: function(respuesta){
		        	respuesta = jQuery.parseJSON(respuesta);
		            if (respuesta.mensaje_error){
		            }else{
		            	alert(respuesta.mensaje);
		            }
		        }
		    })
		}else{
			if(linea_base <= 0){
				alert("Digite un valor en linea base");
			}else if(meta_periodo <= 0){
				alert("Digite un valor en Meta periodo");
			}
		}
	}


	function guardarSIG(){
		var sistemas = [];
		var aux_valor = 0, aux_periodo = 0, aux_anio = 0, aux_tipo = "";
		$("#tabla_gestion_integrado > tbody  > tr").each(function() {
			$(this).find('td:not(:first)').each (function() {
				var valor = parseFloat($(this).find('input').val() || 0);
				var atributos = $(this).find('input').attr("id").split('_');
				var periodo_numero = parseInt(atributos[0] || 0);
				var anio = parseInt(atributos[1] || 0);
				var tipo_valor = atributos[2]+"";

				if(tipo_valor == 'i'){
					aux_valor = valor;
					aux_periodo = periodo_numero;
					aux_anio = anio;
					aux_tipo = tipo_valor;
				}else{
					if(aux_valor > 0 || valor > 0 && periodo_numero == aux_periodo && anio > 1900 && anio <2500 && aux_anio ==anio){
						var dic = {
							"periodo_numero":periodo_numero,
							"anio":anio,
							"valor_inicial":aux_valor,
							"valor_esperado":valor
						}
						sistemas.push(JSON.stringify(dic));
						aux_valor = 0, aux_periodo = 0, aux_anio = 0, aux_tipo = "";
					}else{
						// Nada -- ACTIVAR MENSAJES SI SE QUIERE
						{% comment %} 
						if(aux_valor <= 0 || valor <= 0){
							console.log("El vi: "+aux_valor+" y ve: "+valor+" del pe: "+aux_periodo+" anio: "+anio+" no se almacenan");
						}else if(anio < 1900 && anio >2500){
							console.log("El año no es valido"+anio);
						}
						{% endcomment %}
					}
				}
			})
		});
		var periodo = $("#periodo option:selected").val();
	    if(periodo > 0){
    		$.ajax({
		        type: "POST",
		        url: "/tablero-Mando/programacion/?agregar_sig",
		        data: {
		        	"csrfmiddlewaretoken": getCookie('csrftoken'),
					"indicador":"{{indicador.pk}}",
		        	"periodo": periodo,
		        	"sistemas[]": sistemas,
		       	},
		        error: function(respuesta){
		            console.log("Hubo un problema, guardando la fuente_financiacion.");
		        },
		        success: function(respuesta){
		        	respuesta = jQuery.parseJSON(respuesta);
		            if (respuesta.mensaje_error){
		            }else{
		            	alert(respuesta.mensaje);
		            }
		        }
		    })
	    }
	}


	function initSIG(){
		var lista = [];
		{% if sistema_integrado_gestion %}
			{% regroup sistema_integrado_gestion.itemSIG.all by anio as sig_list %}
			{% for sig in sig_list %}
				{% for ff in sig.list %}
					alert('{{f}}');
				{% endfor %}
			{% endfor %}
		{% endif %}
	}

	const numberWhitCommas = (x) => {
	  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
</script>