{% extends "plantilla.html" %}
{% load static %}

{% block title %}Tablero de Mando{% endblock title %}
{% block contenido %}

<div class="container">
	<div class="table-responsive">
		<table class="table table-hover" style="margin-top: 10px">
			<thead >
				<tr align="center">
					<th colspan="4"><h3 class="text-primary">Tablero De Mando</h3></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="center">
						<h4 class="text-success">INDIRECTOS</h4>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'imagenes/logos/menu/tableroControl/MenuBotonIndicadores.png' %}" height="120" width="120"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{% url 'indicador' %}?listar_i"><i class="fab fa-sistrix"></i> | Listar</a>
									<a class="dropdown-item" href="{% url 'indicador' %}?agregar"><i class="fas fa-plus-circle"></i> | Crear</a>
									<a class="dropdown-item" href="{% url 'indicador' %}?listar_i"><i class="far fa-calendar-alt"></i> | Programacion </a>
									<a class="dropdown-item disabled" href="#"><i class="far fa-calendar-check"></i> | Seguimiento (en construccion) <i class="fas fa-wrench"></i></a>									
								</div>
						</div>
					</td>
					<td align="center">
						<h4 class="text-success">PLAN DE DESARROLLO</h4>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'imagenes/logos/menu/tableroControl/MenuBotonTabPlan.png' %}" height="120" width="120"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item disabled" href="#">En Desarrollo <i class="fas fa-wrench"></i></a>
								</div>
						</div>
					</td>
					<td align="center">
						<h4 class="text-success">SISTEMA DE GESTION</h4>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'imagenes/logos/menu/tableroControl/MenuBotonTabSIG.png' %}" height="120" width="120"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item disabled" href="#">En Desarrollo <i class="fas fa-wrench"></i></a>
								</div>
						</div>
					</td>
					<td align="center">
						<h4 class="text-success">MIPG</h4>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'imagenes/logos/menu/tableroControl/MenuBotonTabMIPG.png' %}" height="120" width="120"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item disabled" href="#">En Desarrollo <i class="fas fa-wrench"></i></a>
								</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock contenido %}
