{% extends "plantilla.html" %}
{% load static %}

{% block title %}Tablero de Mando{% endblock title %}
{% block contenido %}

<div class="container">
	<div class="table-responsive">
		<table class="table" style="margin-top: 10px">
			<thead>
				<tr>
					<th colspan="4"><h4 class="text-warning">TABLERO DE MANDO</h4></th>
				</tr>
			</thead>
			<tbody>
				<tr>
<!--
 					<td>
						<img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonIndicadores.png' %}" height="191" width="191">
					</td>
					<td>
						<img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonTabPlan.png' %}" height="191" width="180">
					</td>
					<td>
						<img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonTabSIG.png' %}" height="191" width="180">
					</td>
					<td>
						<img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonTabMIPG.png' %}" height="191" width="180">
					</td> 
-->
				</tr>
				<tr>
					<td>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonIndicadores.png' %}" height="191" width="191"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{% url 'indicador' %}?agregar"><i class="fas fa-plus"></i>  Crear</a>
									<a class="dropdown-item" href="/tablero-Mando/programacion/"><i class="far fa-calendar-alt"></i>  Programacion</a>
									<a class="dropdown-item" href="/tablero-Mando/seguimiento/"><i class="far fa-calendar-check"></i>  Seguimiento</a>
								</div>
						</div>
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonTabPlan.png' %}" height="191" width="180"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">---</a>
									<a class="dropdown-item" href="#">---</a>
									<a class="dropdown-item" href="#">---</a>
								</div>
						</div>
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonTabSIG.png' %}" height="191" width="180"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">---</a>
									<a class="dropdown-item" href="#">---</a>
									<a class="dropdown-item" href="#">---</a>
								</div>
						</div>
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded float-left" src="{% static 'media/imagenes/logos/menu/tableroControl/MenuBotonTabMIPG.png' %}" height="191" width="180"></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">---</a>
									<a class="dropdown-item" href="#">---</a>
									<a class="dropdown-item" href="#">---</a>
								</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock contenido %}
