{% extends "plantilla.html" %}
{% load static %}

{% block title %}PROGRAMACION{% endblock title %}
{% block contenido %}
<div class="container" >
	<table class="table table-bordered table-striped" style="margin-top: 10px">
		<thead class="bg-success">
			<tr>
				<th class="text-white">PROGRAMACION</th>
			</tr>
		</thead>
		<tbody>
			<form method="POST" role="form">{% csrf_token %}
				<tr>
					<td>
						<div class="card text-center">
							<div class="card-header bg-light">
								<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="informacionBase-tab" data-toggle="tab" href="#informacionBase" role="tab" aria-controls="informacionBase" aria-selected="true">INFORMACION BASE</a>
								  	</li>
									<li class="nav-item">
									    <a class="nav-link" id="programacionInicial-tab" data-toggle="tab" href="
									    #programacionInicial" role="tab" aria-controls="programacionInicial" aria-selected="false">PROGRAMACION INICIAL</a>
									</li>
									<li class="nav-item">
									    <a class="nav-link" id="medicion-tab" data-toggle="tab" href="#medicion" role="tab" aria-controls="medicion" aria-selected="false">PLAN INDICATIVO</a>
									</li>
								</ul>
							</div>
							<div class="card-body">
								<div class="tab-content text-left" id="myTabContent">
									<div class="tab-pane fade show active" id="informacionBase" role="tabpanel" aria-labelledby="identificacion-tab">
										<div class="row">
											<div class="col-sm">
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">TIPO DE INDICADOR:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Plan de Desarrollo">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">PRODUCTO:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Consulta por el servicio de urgencias">
													</div>
												</div>
												<div class="dropdown-divider"></div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">CICLO:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="CUATRIENAL">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">NORMATIVIDAD APLICABLE:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="RESOLUCION 1542">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">PERIODICIDAD:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="SEMESTRAL">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">AMBITO:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="RESULTADO">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">LIMITE DEL REPORTE:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Segundo dia habil del siguiente periodo">
													</div>
												</div>																								
											</div>
											<div class="col-sm">
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">NOMBRE:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="NASU Medir el nivel de atencion del servicio de urgencias de la entidad">
													</div>
												</div>														
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">CODIGO:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="PDI-001">
													</div>
												</div>														
												<div class="dropdown-divider"></div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">DIMENSION:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="EFECTIVIDAD">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">RESPONSABLE:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="SUBGERENTE ADMINISTRATIVO">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">DOC ASOCIADO MEDICION:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="Formato RE-52-65">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">VESION:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="01">
													</div>
												</div>
												<div class="form-group row">
													<label for="staticEmail" class="col-form-label text-success">FECHA:</label>
													<div class="col-sm">
														<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="23/01/2018">
													</div>
												</div>																																				
											</div>											
										</div>
									</div>
									<div class="tab-pane fade" id="programacionInicial" role="tabpanel" aria-labelledby="programacionInicial-tab">
									............................
									</div>								
									<div class="tab-pane fade" id="medicion" role="tabpanel" aria-labelledby="medicion-tab">
									............................	
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
					</td>
				</tr>
			</form>
		</tbody>
	</table>
</div>
{% endblock contenido %}
