<form method="POST" action="/tablero-Mando/indicador/?agregar_a&indicador={{indicador.pk}}" role="form" id="formulario_armonizacion" method="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="tipo_armonizacion" id="id_tipo_armonizacion">
<div class="row">
	<div class="card-group">
		<div class="card">
			<div class="card-body">
				<p class="card-title">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="planDesarrolloCheck" onclick="mostrarPlaDes()" {% if armonizacion %} checked {% endif %} >
						<label class="custom-control-label" for="planDesarrolloCheck">PLAN DESARROLLO</label>
					</div>														
				</p>
				<div class="card-text" id="parrafoPlanDes" {% if not armonizacion %}style="display: none"{% endif %}>
					<div class="form-group">
				    <label for="linea">LINEA</label>
						{{ form_armonizacion.linea }}
				  	</div>
					<div class="form-group">
				    <label for="programa">PROGRAMA</label>
						{{ form_armonizacion.programa }}
				  	</div>
					<div class="form-group">
				    <label for="subprograma">SUBPROGRAMA</label>
						{{ form_armonizacion.subprograma }}
				  	</div>
					<div class="form-group">
				    <label for="meta">META</label>
						{{ form_armonizacion.meta }}
				  	</div>
			  	</div>												
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p class="card-title">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="sisIntGesCheck" onclick=" mostrarSisIntGes()" {% if armonizacion %} checked {% endif %}>
						<label class="custom-control-label" for="sisIntGesCheck">SISTEMA INTEGRADO DE GESTION</label>
					</div>
				</p>
				<div class="card-text" id="parrafoSisIntGes" {% if not armonizacion %}style="display: none"{% endif %}>
					<div class="form-group">
				    <label for="tipoProceso">TIPO DE PROCESO</label>
						{{ form_armonizacion.tipo_proceso }}
				  	</div>
					<div class="form-group">
				    <label for="proceso">PROCESO</label>
						{{ form_armonizacion.proceso }}
				  	</div>	
					<div class="form-group">
				    <label for="subproceso">SUBPROCESO</label>
						{{ form_armonizacion.subproceso }}
				  	</div>													  										  
				</div>													
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<p class="card-title">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="modeloInPlaGeCheck" onclick="mostrarModeloInPlaGeCheck()" disabled="disabled">
						<label class="custom-control-label" for="modeloInPlaGeCheck">MODELO INTEGRADO DE PLANEACION Y GESTION</label>
					</div>
				</p>
				<div class="card-text" id="parrafoModIntPlanGes" style="display: none">
					<div class="form-group">
				    <label for="dimensionArm">DIMENSION</label>
						<select class="form-control" id="dimensionArm" name="dimensionArm">
							<option>--</option>
							<option>--</option>
							<option>--</option>
			    		</select>
				  	</div>	
					<div class="form-group">
				    <label for="politica">POLITICA</label>
						<select class="form-control" id="politica" name="politica">
							<option>--</option>
							<option>--</option>
							<option>--</option>
			    		</select>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="form-group">
	<button type="submit" id="guardar_armonizacion" name="guardar_armonizacion" class="btn btn-success float-right">GUARDAR ARMONIZACIÓN</button>
</div>
</form>

<script type="text/javascript">
	// PESTAÑA ARMONIZACION
	// Ocultar o mostrar campos de PLAN DE DESARROLLO
	function mostrarPlaDes(){ 
		if (document.getElementById("planDesarrolloCheck").checked) {
			document.getElementById("parrafoPlanDes").style.display = "block";
			var tipo = $("#id_tipo_armonizacion").val() || "";
			$("#id_tipo_armonizacion").val(tipo+"1,");
		}else{
			document.getElementById("parrafoPlanDes").style.display = "none";
			var tipo = $("#id_tipo_armonizacion").val().replace('1,','') || "";
			$("#id_tipo_armonizacion").val(tipo);
		}
	}
	// PESTAÑA ARMONIZACION
	// Ocultar o mostrar campos de SISTEMA INTEGRADO DE GESTION
	function mostrarSisIntGes(){
		if (document.getElementById("sisIntGesCheck").checked) {
			document.getElementById("parrafoSisIntGes").style.display = "block";
			var tipo = $("#id_tipo_armonizacion").val() || "";
			$("#id_tipo_armonizacion").val(tipo+"2,");
		}
		else{
			document.getElementById("parrafoSisIntGes").style.display = "none";
			var tipo = $("#id_tipo_armonizacion").val().replace('2,','') || "";
			$("#id_tipo_armonizacion").val(tipo);
		}
	}
	// PESTAÑA ARMONIZACION
	// Ocultar o mostrar campos de MODELO INTEGRADO DE PLANEACION Y GESTION
	function mostrarModeloInPlaGeCheck(){
		if (document.getElementById("modeloInPlaGeCheck").checked) {
			document.getElementById("parrafoModIntPlanGes").style.display = "block";
		}
		else{
			document.getElementById("parrafoModIntPlanGes").style.display = "none";
		}
	}

	$(".select-chossen").chosen({width: "100%"}); 
</script>