<form method="POST" role="form" id="formulario_indicador" method="multipart/form-data">
{% csrf_token %}
	<div class="col-md-12">
		<div class="row">
			<div class="form-group col-md-3" align="center">
				<label for="id_consecutivo">CÓDIGO</label>
				<div class="row">
					<div class="form-group col-md-5" align="right" style="font-size: 1.3em;">
						<b>IND</b> -
					</div>
					<div class="form-group col-md-7">
					{{ formulario.consecutivo }}
					</div>
				</div>
			</div>
			
			<div class="form-group col-md-3">
			    <label for="id_tipoIndicador">TIPO INDICADOR <i class="fas fa-caret-down"></i></label>
	    		{{ formulario.tipo_indicador }}
		  	</div>

			<div class="form-group col-md-4">
				<label for="id_nombre">NOMBRE</label>
				<div class="input-group">
					<div class="col-md-10">
						{{ formulario.nombre_indicador }}
					</div>
					<span class="input-group-btn col-md-2">
						<button type="button" class="btn btn-primary btn-sm float-right" id="btn_agregar_nombre"><i class="fas fa-plus"></i></button>
					</span>
				</div>
			</div>

			<div class="form-group col-md-2">
				<label for="id_tipo_medicion">TIPO MEDICIÓN</label>
				{{ formulario.tipo_medicion }}
			</div>	
		</div>
		
		<div class="row">
			<div class="form-group col-md-6">
				<label for="id_objetivo">OBJETIVO</label>
				{{ formulario.objetivo }}
			</div>

			<div class="form-group col-md-6">
				<label for="producto_mide">PRODUCTO QUE MIDE</label>
				{{ formulario.producto_mide }}
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-md-2">
				<label for="id_ciclo">CICLO</label>
				{{ formulario.ciclo }}
			</div>

			<div class="form-group col-md-2">
				<label for="id_periodicidad">PERIODICIDAD</label>
				{{ formulario.periodicidad }}
			</div>
			
			<div class="form-group col-md-2">
				<label for="id_ambito">AMBITO</label>
				{{ formulario.ambito }}  
			</div>
			
			<div class="form-group col-md-2">
				<label for="dimension">DIMENSION</label>
				{{ formulario.dimension }}
			</div>

			<div class="form-group col-md-4">
				<label for="id_responsable">RESPONSABLE</label>
				{{ formulario.responsable }}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-3">
				<label for="id_noratividad">NORMATIVIDAD APLICABLE <i class="fas fa-caret-down"></i></label>
				{{ formulario.normatividad }}
			</div>
			
			{% if indicador %}
				<div class="form-group col-md-3">
					<label for="fecha_actualizacion">ACTUALIZACION</label>
					<input type="date" class="form-control" id="fecha_actualizacion" name="fecha_actualizacion" value="{{indicador.fecha_actualizacion|date:'Y-m-d'}}">
					{# {{ formulario.fecha_actualizacion }} #}
				</div>
			{% endif %}

			<div class="form-group col-md-3">
				<label for="id_limite_reporte">LIMITE DEL REPORTE</label>
				{{ formulario.limite_reporte }}
			</div>

			<div class="form-group col-md-1">
				<label for="id_version">VERSIÓN</label>
				{{ formulario.version }}
			</div>

			<div class="form-group col-md-2">
				<label for="id_recurrencia">RECURRENCIA</label>
				{{ formulario.recurrencia }}
			</div>
		</div>

		<div class="form-group">
			<button type="submit" id="guardar_indicador" name="guardar_indicador" class="btn btn-success float-right"><i class="fa fa-save"></i> GUARDAR</button>
		</div>
	</div>
</form>

<div class="modal" tabindex="-1" role="dialog" id="modal_nombre_indicador">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar nombre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label><b>Nombre indicador:</b></label>
					<textarea id="nombre_indicador" name="nombre_indicador" class="form-control" rows="2" maxlength="300"></textarea>
				</div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" id="btn_guardar_nombre"><i class="fa fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).on('click','#btn_agregar_nombre', function(){
		$('#modal_nombre_indicador').modal('show');
		$('#nombre_indicador').trigger('focus');
	});

	$(document).on('click','#btn_guardar_nombre', function(){
		var nombre_indicador = $("#nombre_indicador").val();
		if(nombre_indicador!=""){
			$.ajax({
		        type: "POST",
		        url: "/tablero-Mando/indicador/?guardar_nombre_indicador",
		        data: {
		        	"csrfmiddlewaretoken": getCookie('csrftoken'),
					"nombre_indicador":nombre_indicador,
		       	},
		        error: function(respuesta){
		            console.log("Hubo un problema, guardando guardar_nombre_indicador.");
		        },
		        success: function(respuesta){
		        	respuesta = jQuery.parseJSON(respuesta);
		            if (respuesta.mensaje_error){
		            }else{
		            	alert(respuesta.mensaje);
		            	$('#modal_nombre_indicador').modal('hide');
		            	if(respuesta.mensaje != 'El nombre ya existe.')
			            	$('#id_nombre_indicador').append($('<option>', {
							    value: respuesta.id_indicador,
							    text: nombre_indicador,
							    selected: "selected"
							}));
			            else
			            	$('#id_nombre_indicador').val(respuesta.id_indicador);
						$('#id_nombre_indicador').trigger("chosen:updated");
						$('#nombre_indicador').val("");
		            }
		        }
		    })
		}
	});
</script>

