<form method="POST" role="form" id="formulario_indicador" method="multipart/form-data">
{% csrf_token %}
	<div class="col-md-12">
		<div class="row">
			<div class="form-group col-md-3" align="center">
				<label for="id_consecutivo">CÓDIGO</label>
				<div class="row">
					<div class="form-group col-md-5" align="right" style="font-size: 20px;">
						<b>IND</b> -
					</div>
					<div class="form-group col-md-7">
					{{ formulario.consecutivo }}
					</div>
				</div>
			</div>
			
			<div class="form-group col-md-3">
			    <label for="id_tipoIndicador">TIPO INDICADOR</label>
	    		{{ formulario.tipo_indicador }}
		  	</div>

			<div class="form-group col-md-3">
				<label for="id_nombre">NOMBRE</label>
				{{ formulario.nombre_identificador }}
			</div>

			<div class="form-group col-md-3">
				<label for="id_tipo_medicion">TIPO DE MEDICIÓN</label>
				{{ formulario.tipo_medicion }}
			</div>	
		</div>
		
		<div class="row">
			<div class="form-group col-md-6">
				<label for="id_objetivo">OBJETIVO</label>
				{{ formulario.objetivo }}
			</div>

			<div class="form-group col-md-6">
				<label for="producto_mide">PRODUCTO QUE MIDE</label>
				{{ formulario.producto_mide }}
			</div>
		</div>
	
		<div class="row">
			<div class="form-group col-md-2">
				<label for="id_ciclo">CICLO</label>
				{{ formulario.ciclo }}
			</div>

			<div class="form-group col-md-2">
				<label for="id_periodicidad">PERIODICIDAD</label>
				{{ formulario.periodicidad }}
			</div>
			
			<div class="form-group col-md-2">
				<label for="id_ambito">AMBITO</label>
				{{ formulario.ambito }}  
			</div>
			
			<div class="form-group col-md-2">
				<label for="dimension">DIMENSION</label>
				{{ formulario.dimension }}
			</div>

			<div class="form-group col-md-4">
				<label for="id_responsable">RESPONSABLE</label>
				{{ formulario.responsable }}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-3">
				<label for="id_noratividad">NORMATIVIDAD APLICABLE</label>
				{{ formulario.normatividad }}
			</div>
			
			{% if indicador %}
				<div class="form-group col-md-3">
					<label for="fecha_actualizacion">ACTUALIZACION</label>
					<input type="date" class="form-control" id="fecha_actualizacion" name="fecha_actualizacion" value="{{indicador.fecha_actualizacion|date:'Y-m-d'}}">
					{# {{ formulario.fecha_actualizacion }} #}
				</div>
			{% endif %}

			<div class="form-group col-md-3">
				<label for="id_limite_reporte">LIMITE DEL REPORTE</label>
				{{ formulario.limite_reporte }}
			</div>

			<div class="form-group col-md-1">
				<label for="id_version">VERSIÓN</label>
				{{ formulario.version }}
			</div>

			<div class="form-group col-md-2">
				<label for="id_recurrencia">RECURRENCIA</label>
				{{ formulario.recurrencia }}
			</div>
		</div>

		<div class="form-group">
			<button type="submit" id="guardar_indicador" name="guardar_indicador" class="btn btn-success float-right">GUARDAR</button>
		</div>
	</div>
</form>